<a href="https://colab.research.google.com/github/HeHeHuang/DeepLearningNLP/blob/main/DeepLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Deep Learning

## MLP

### Demo

In [ ]:
from sklearn.neural_network import MLPClassifier

In [ ]:
X = [[0.,0.],[1.,1.],[2.,2.]]
y = [0,1,1]

In [ ]:
X,y

([[0.0, 0.0], [1.0, 1.0]], [0, 1])

(5,2) 2 dimension set 
2 layers
5 nodes for 1st hidden layer
2 nodes for 2st hidden layer

In [ ]:
clf = MLPClassifier(solver='sgd',alpha = 1e-5,hidden_layer_sizes=(5,2),random_state=1)

In [ ]:
clf.fit(X,y)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

MLPClassifier(alpha=1e-05, hidden_layer_sizes=(5, 2), random_state=1,
              solver='sgd')

1. set max_iter increase 
2. tol = 0.000001

In [ ]:
clf = MLPClassifier(solver='sgd',alpha = 1e-5,max_iter = 3000,hidden_layer_sizes=(5,2),random_state=1)
clf.fit(X,y)

MLPClassifier(alpha=1e-05, hidden_layer_sizes=(5, 2), max_iter=3000,
              random_state=1, solver='sgd')

In [ ]:
 batch_size = 200  
 shuffle = Ture

> regression: fitting the data

>classification: find the classifying boundary

In [ ]:
clf.predict([[2.,2.],[-1,-2]])

array([1, 0])

In [ ]:
clf.predict([[2.,2.] ])

In [ ]:
[coef.shape for coef in clf.coefs_]

[(2, 5), (5, 2), (2, 1)]

In [ ]:
clf.predict_proba([[2,2],[1,2]])

array([[0.15882012, 0.84117988],
       [0.15882012, 0.84117988]])

### practical Case with SkLearn

In [ ]:
#/content/drive/MyDrive/Colab Notebooks/concrete.csv
import pandas as pd
from sklearn.neural_network import MLPRegressor
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/concrete.csv')
df

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
0,141.3,212.0,0.0,203.5,0.0,971.8,748.5,28,29.89
1,168.9,42.2,124.3,158.3,10.8,1080.8,796.2,14,23.51
2,250.0,0.0,95.7,187.4,5.5,956.9,861.2,28,29.22
3,266.0,114.0,0.0,228.0,0.0,932.0,670.0,28,45.85
4,154.8,183.4,0.0,193.3,9.1,1047.4,696.7,28,18.29
...,...,...,...,...,...,...,...,...,...
1025,135.0,0.0,166.0,180.0,10.0,961.0,805.0,28,13.29
1026,531.3,0.0,0.0,141.8,28.2,852.1,893.7,3,41.30
1027,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1028,342.0,38.0,0.0,228.0,0.0,932.0,670.0,270,55.06
1029,540.0,0.0,0.0,173.0,0.0,1125.0,613.0,7,52.61

for machine learning:
>for features selection

In [ ]:
df.describe()

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

##### split training set and test set

In [ ]:
X_train = df.iloc[:800,:-1 ] # better use X instead of x --> X vector of features
X_test = df.iloc[800:,:-1 ] 
y_train = df.iloc[:800,-1: ]
y_test = df.iloc[800:,-1: ]

In [ ]:
X_test

      cement   slag    ash  water  superplastic  coarseagg  fineagg  age
200    166.8  250.2    0.0  203.5           0.0      975.6    692.6   28
201    159.8  250.0    0.0  168.4          12.2     1049.3    688.2   28
202    397.0    0.0    0.0  185.7           0.0     1040.6    734.3    7
203    231.8    0.0  121.6  174.0           6.7     1056.4    778.5  100
204    164.6    0.0  150.4  181.6          11.7     1023.3    728.9   28
...      ...    ...    ...    ...           ...        ...      ...  ...
1025   135.0    0.0  166.0  180.0          10.0      961.0    805.0   28
1026   531.3    0.0    0.0  141.8          28.2      852.1    893.7    3
1027   276.4  116.0   90.3  179.6           8.9      870.1    768.3   28
1028   342.0   38.0    0.0  228.0           0.0      932.0    670.0  270
1029   540.0    0.0    0.0  173.0           0.0     1125.0    613.0    7

[830 rows x 8 columns]

In [ ]:
y_test

     strength
0       29.89
1       23.51
2       29.22
3       45.85
4       18.29
..        ...
195     22.44
196     26.77
197     68.10
198     52.91
199     32.33

[200 rows x 1 columns]

#### build MLP Regressor

In [ ]:
reg = MLPRegressor()
reg.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1599: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

MLPRegressor()

##### two problem here 
1. Maximum iterations (200) reached and the optimization hasn't converged yet. > increase max_iteration

2. A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ),

In [ ]:
y_train = np.array(y_train).ravel()
y_train

array([29.89, 23.51, 29.22, 45.85, 18.29, 21.86, 15.75, 36.64, 21.65,
       28.99, 36.35,  6.94, 27.92, 26.26, 23.89, 49.97, 30.08, 44.86,
       15.04, 25.1 , 13.36, 21.92, 20.42, 33.3 , 31.74, 45.3 , 49.19,
       65.2 , 21.54, 33.8 , 32.04, 39.29, 23.74, 44.52, 37.91, 39.16,
       16.88, 47.71, 17.54, 41.41, 24.28, 60.32, 37.42, 23.52, 59.2 ,
       61.46, 17.2 , 40.68, 49.9 , 33.4 , 49.25, 39.  , 37.27, 39.3 ,
       38.22, 20.28, 48.67, 34.57, 35.23, 42.35, 20.73, 10.38, 37.34,
       54.9 , 41.05, 29.98, 28.63, 44.3 , 52.04, 49.8 , 11.41, 50.46,
       28.1 , 26.92, 45.08, 36.94, 24.13, 19.42, 27.42, 39.15, 28.47,
       31.02, 31.25, 43.06, 12.84, 32.24, 67.57, 26.31, 35.3 , 23.8 ,
       14.59, 55.9 , 21.5 , 41.84,  4.9 , 57.23, 71.3 , 33.4 , 33.4 ,
       36.25, 32.96, 61.89, 36.8 , 53.1 , 11.98, 23.85,  9.74, 14.5 ,
       12.18, 38.63, 55.65, 12.05, 27.68, 31.35, 18.13, 12.79, 37.36,
       39.4 , 29.45, 33.36, 16.26, 39.64, 23.79, 45.94, 61.07, 31.03,
       33.19, 21.86, 74.7 , 62.5 , 27.77, 31.88,  9.99, 25.08, 13.22,
       56.34, 43.57, 46.68,  6.88, 30.65, 33.72, 30.39, 37.72, 42.8 ,
       26.74, 32.53, 33.21, 55.51, 46.68, 41.15, 29.59, 32.84, 29.59,
       33.01, 11.47, 23.84, 56.4 , 44.3 , 22.35, 55.26, 31.45, 67.7 ,
       18.13, 60.28, 33.4 , 17.24, 44.42, 37.68, 35.34, 52.42, 57.03,
       48.59, 12.47, 44.28, 48.85, 17.58, 10.03, 40.6 , 43.38, 14.2 ,
       24.48, 59.49, 63.4 ,  7.68,  9.85, 22.53, 32.88, 13.71, 60.95,
       44.87, 77.3 , 61.99, 81.75, 30.88, 23.79, 22.44, 26.77, 68.1 ,
       52.91, 32.33, 33.95, 39.46, 25.45, 45.84, 18.03, 24.29, 29.07,
       46.93, 59.89, 39.49, 22.93, 39.  , 52.2 , 19.52, 37.36, 26.97,
       66.42, 11.96, 14.7 , 13.62, 26.94, 23.64, 35.34, 24.  , 25.75,
       36.8 , 51.72, 29.87, 35.76, 64.9 ,  2.33, 18.02, 69.3 , 27.83,
       50.51,  6.47, 18.  ,  9.73, 24.58, 71.7 , 41.05, 41.54, 26.2 ,
       52.43, 48.79, 79.3 ,  3.32, 40.15, 12.25, 29.23, 40.23, 34.74,
       26.86, 31.35, 33.27, 20.77, 67.11, 79.4 , 42.29, 37.8 , 49.77,
       17.24, 51.73, 28.63, 65.91, 15.62, 61.23, 32.72, 13.66, 36.97,
       55.16, 12.46, 40.86, 74.5 , 33.76, 55.64, 37.91, 43.58, 33.4 ,
       66.  , 41.64, 43.94, 37.42, 42.23, 29.72, 51.86, 64.9 , 12.37,
       26.23, 39.38, 17.54, 52.91, 70.7 , 56.83, 26.91, 17.6 , 37.4 ,
       42.13, 33.4 ,  9.13, 37.92, 51.04, 52.12, 45.9 , 26.86, 22.44,
       38.07, 55.55, 34.67, 15.42, 42.22, 19.77, 24.1 , 74.17, 14.8 ,
       13.46, 30.22, 22.14, 51.06, 31.84, 64.02, 31.54, 34.4 , 44.7 ,
       17.96, 40.39, 25.62, 32.66, 16.89, 47.81, 31.81, 33.42,  7.32,
       19.69, 28.3 , 31.35, 52.96, 76.8 , 29.87, 47.78, 33.73, 45.37,
       42.03, 32.63, 37.27, 46.24, 53.52, 50.73, 51.26, 40.86, 32.1 ,
       17.37, 37.81, 40.93,  7.51, 52.5 , 29.07,  8.06, 24.92, 42.62,
       23.69, 33.7 , 11.17, 46.25, 54.32, 26.32, 42.7 , 17.34, 19.42,
       33.69, 48.7 , 31.64, 35.85, 50.7 , 25.97,  4.83, 35.17, 32.07,
        9.74, 43.89, 28.02, 25.72,  9.01, 65.91, 21.95, 43.38, 47.13,
       35.96, 15.69, 32.76, 25.46, 10.73, 49.2 , 56.14, 23.08, 56.62,
       55.5 , 30.12, 39.42, 33.09, 35.3 , 39.36, 37.43, 45.3 , 15.52,
       41.68, 31.35,  4.57, 54.6 , 24.05, 31.42, 58.61, 65.7 , 10.76,
       53.52, 57.22, 41.68, 17.28, 57.6 , 54.28, 35.3 , 13.29, 13.82,
       44.52, 27.74, 74.19, 42.92, 17.22, 51.33,  6.9 , 15.82, 61.09,
       24.24, 60.29, 39.38, 48.4 , 53.39, 23.84, 17.84,  8.2 , 38.77,
       37.44, 35.75, 31.72, 33.04, 40.56, 55.02, 45.7 , 41.24, 43.57,
       37.26, 64.9 , 74.99, 56.14, 21.18, 38.  , 50.53, 25.37, 43.7 ,
       28.99, 32.72, 44.33, 39.23, 77.3 , 32.05, 43.7 , 39.3 , 33.72,
       19.69, 71.99, 12.45, 26.92, 38.8 , 66.78, 40.87, 11.47, 73.3 ,
       41.54, 21.06, 50.94, 40.06, 42.14, 65.2 , 25.12, 39.  , 27.87,
       37.43, 39.84, 44.14, 64.3 , 33.49, 76.24, 10.54, 79.3 , 30.45,
       13.54, 46.23, 36.99, 31.97, 52.82, 49.99, 31.65, 12.64, 22.9 ,
       29.  , 24.  , 78.8 , 33.94, 39.7 ,  8.37, 25.2 , 25.18, 38.46,
       15.09, 51.96, 15.44, 19.54, 64.3 , 33.69, 40.66, 24.39, 35.87,
       51.02, 14.54, 58.52, 71.3 , 26.06, 65.2 , 32.4 , 68.75, 33.12,
       19.2 , 72.99, 50.77, 48.99, 19.93, 24.43, 47.97, 46.9 , 50.95,
       58.78, 29.16,  6.81, 46.2 , 18.03, 72.1 , 37.43, 15.03, 19.77,
       43.73,  6.28, 49.77, 31.97, 47.1 , 27.66, 27.94, 47.22, 32.9 ,
       13.33, 47.4 , 25.56, 24.28, 42.42, 25.57, 39.7 , 43.5 , 26.14,
       18.28, 13.12, 72.3 , 50.66, 33.66, 44.03, 23.25, 55.25, 66.7 ,
       55.9 , 60.29, 40.57, 30.57, 44.21, 61.92, 42.55, 32.96, 60.2 ,
       56.06, 36.56,  7.75, 33.05, 32.25, 45.37, 25.18, 10.34, 74.36,
       36.45, 13.52, 28.94, 24.9 , 53.72, 13.2 , 11.36, 38.89, 15.42,
       21.82, 77.3 , 32.4 , 14.14, 33.54, 69.84, 38.6 , 40.86, 56.1 ,
       19.11, 30.23, 61.86, 59.59, 55.2 , 14.84, 38.33, 27.04, 39.78,
       15.52, 40.76, 53.3 , 42.13, 47.74, 43.25, 25.51, 18.91, 31.18,
       29.93, 35.36, 54.38, 11.85, 52.3 , 57.21, 14.2 , 23.52,  8.  ,
       39.3 , 54.1 , 14.31, 41.72, 40.71, 29.55, 18.75, 33.8 , 31.18,
       39.42, 24.4 ,  8.49, 26.4 , 38.6 , 66.95, 55.55, 12.54, 39.94,
       23.52, 55.94, 12.73, 39.27, 59.76, 24.85, 36.84, 11.39, 28.63,
       27.92,  9.31, 22.72, 10.54, 23.14, 11.65, 31.9 ,  7.84, 25.22,
       20.08, 46.8 , 39.59, 13.4 , 15.05, 36.35, 35.31, 15.07, 12.18,
       29.41, 24.45, 26.15, 48.15, 47.03, 33.96, 33.61, 32.82, 15.57,
       16.28, 38.5 ,  9.87, 34.49, 37.92, 11.48, 68.3 , 24.54,  9.62,
       36.44, 14.99,  9.69, 10.35, 26.05, 37.23, 25.18, 53.77, 39.06,
       43.8 , 42.64, 53.69, 34.29, 33.42, 27.34,  7.4 , 21.16, 21.78,
       43.7 , 51.04, 30.85, 53.46, 22.49, 44.09, 33.  , 10.22, 13.09,
       39.32, 50.08,  9.45, 79.99, 79.3 , 52.2 , 14.6 , 20.59, 37.81,
       71.3 , 25.73, 35.23, 69.66, 18.2 , 15.57, 54.9 , 48.97, 56.81,
       19.35, 18.42, 21.48, 47.28, 21.07, 50.6 , 38.02, 29.79, 42.13,
       15.61, 29.65, 43.39, 21.91, 48.28, 43.58, 22.75, 33.8 , 13.46,
       19.99, 79.3 , 41.05, 36.96, 39.05, 33.06, 31.12, 20.92, 30.14,
       44.4 , 24.5 , 71.62, 36.3 , 38.46, 35.86, 40.15, 31.42, 20.73,
        4.78, 46.23, 33.56, 23.35, 32.92, 41.37, 32.85, 35.08, 38.2 ,
       23.4 , 20.97, 12.18, 13.18, 19.01, 14.64, 11.58, 30.12])

In [ ]:
reg2 = MLPRegressor(hidden_layer_sizes=(5,2),solver = 'sgd', max_iter=2000,random_state=40)

In [ ]:
reg2.fit(X_train,y_train)   #2 hidden layer: 5nodes and 2 nodes

MLPRegressor(hidden_layer_sizes=(5, 2), max_iter=2000, random_state=40,
             solver='sgd')

In [ ]:
X_test

      cement   slag    ash  water  superplastic  coarseagg  fineagg  age
800    375.0    0.0    0.0  186.0           0.0     1038.0    758.0    7
801    297.2    0.0  117.5  174.8           9.5     1022.8    753.5  100
802    148.5  139.4  108.6  192.7           6.1      892.4    780.0   28
803    272.8  105.1   81.8  209.7           9.0      904.0    679.7   28
804    424.0   22.0  132.0  168.0           8.9      822.0    750.0    3
...      ...    ...    ...    ...           ...        ...      ...  ...
1025   135.0    0.0  166.0  180.0          10.0      961.0    805.0   28
1026   531.3    0.0    0.0  141.8          28.2      852.1    893.7    3
1027   276.4  116.0   90.3  179.6           8.9      870.1    768.3   28
1028   342.0   38.0    0.0  228.0           0.0      932.0    670.0  270
1029   540.0    0.0    0.0  173.0           0.0     1125.0    613.0    7

[230 rows x 8 columns]

In [ ]:
y_prediction= reg2.predict(X_test)

In [ ]:
y_prediction

array([35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008,
       35.44654008, 35.44654008, 35.44654008, 35.44654008, 35.44654008])

In [ ]:
len(y_prediction)

230

#### evaluate model

In [ ]:
 mean_squared_error(y_true=y_test,y_pred=y_prediction)

270.298500997026

#### Normalization
> normalize the features:
in sklearn.preprocessing import StandardScaler 
> mean, variance

> import accuracy

In [ ]:
scale= StandardScaler(with_mean=True,with_std= True)

In [ ]:
X_train_n = scale.fit_transform(X_train)
X_train_n

array([[-1.32367522,  1.61702386, -0.83310929, ..., -0.04672674,
        -0.31363575, -0.28844798],
       [-1.06019885, -0.35098824,  1.12611406, ...,  1.34929609,
         0.27910576, -0.50990516],
       [-0.28599835, -0.84009372,  0.67531931, ..., -0.23755922,
         1.08682479, -0.28844798],
       ...,
       [-0.77667536,  0.69444575, -0.83310929, ...,  0.03780308,
         0.64320064, -0.62063375],
       [-0.54947472, -0.84009372,  0.69108136, ..., -0.10692222,
         1.19990545, -0.68390723],
       [ 0.23904514, -0.84009372,  0.74309614, ..., -0.21066337,
        -0.85418618, -0.28844798]])

In [ ]:
X_test_n = scale.transform(X_test)
X_test_n

array([[ 0.90728232, -0.84009372, -0.83310929, ...,  0.80113299,
        -0.1955845 , -0.62063375],
       [ 0.16458443, -0.84009372,  1.01893209, ...,  0.60645825,
        -0.25150351,  0.85047467],
       [-1.25494226,  0.77557699,  0.87864981, ..., -1.06364612,
         0.07779732, -0.28844798],
       ...,
       [-0.03397747,  0.50436685,  0.59020421, ..., -1.34925446,
        -0.0675921 , -0.28844798],
       [ 0.59225622, -0.39966698, -0.83310929, ..., -0.55646719,
        -1.28911181,  3.53959759],
       [ 2.48241281, -0.84009372, -0.83310929, ...,  1.91538975,
        -1.99741927, -0.62063375]])

In [ ]:
reg3 =MLPRegressor(hidden_layer_sizes=(5,2),solver = 'sgd', max_iter=2000,random_state=40)

In [ ]:
reg3.fit(X_train_n,y_train)

MLPRegressor(hidden_layer_sizes=(5, 2), max_iter=2000, random_state=40,
             solver='sgd')

In [ ]:
y_prediction_n=reg3.predict(X_test_n)

##### the MSE decrease

In [ ]:
mean_squared_error(y_true=y_test,y_pred=y_prediction_n)

49.437998820911794

### Tensorflow

In [ ]:
import tensorflow as tf

In [ ]:
print(tf.__version__)

2.8.2